.mailCard {
    background-color: rgb(220, 255, 231);
}

/* .cardBody {
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
} */

.cardText {
    white-space: pre-line;
}